.container__menu-title {
   color: #fff;
}

.container__menu-title > h1 {
   margin: 1rem 0;
   padding: 2rem 0;
   font-size: 8.5rem;
   display: flex;
   justify-content: center;
   font-family:'Courier New', Courier, monospace;
   height: auto;
   font-weight: 400;
}

.container__menu-title > hr {
   margin: 1rem 0;
}

@media (max-width: 968px) {
   .container__menu-title > h1 {
      font-size: 3rem;
   }
}