<div class="container__content">
  <div class="content__back-btn">
    <a [routerLink]="['']"><i class="fa-solid fa-arrow-left fa-xl" style="color: #838383;
    "></i></a>
    <!-- <a [routerLink]="['']"><i class="fa-solid fa-arrow-right fa-xl" style="color: #838383;
      "></i></a> -->
  </div>
  <div class="content__cover">
    <img src="{{ photoCover }}" alt="">
  </div>
  <div class="content__title">
    <h1>{{ contentTitle }}</h1>
    <hr>
  </div>
  <div class="content__desc">
    <p>
      {{ contentDesc }}
    </p>
  </div>
</div>

