<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://i.stack.imgur.com/y9DpT.jpg"
    newsDate="26 de Setembro de 2023"
    cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing."
    cardDesc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aperiam hic quas."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://i.stack.imgur.com/y9DpT.jpg"
    newsDate="26/09/2023"
    cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ut?"
    ></app-small-card>
    <hr>
    <app-small-card
    photoCover="https://i.stack.imgur.com/y9DpT.jpg"
    newsDate="26/09/2023"
    cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ut?"></app-small-card>
    <hr>
    <app-small-card
    photoCover="https://i.stack.imgur.com/y9DpT.jpg"
    newsDate="26/09/2023"
    cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ut?"></app-small-card>
  </div>
</div>

