<div class="container__menu">
  <ul class="menu__links">
     <li><a href="">sobre</a></li>
     <li><span>•</span></li>
     <li><a href="">blog</a></li>
     <li><span>•</span></li>
     <li><a href="">projetos</a></li>
     <li><span>•</span></li>
     <li><a href="">contato</a></li>
  </ul>
  <div class="menu__icons">
    <a href="https://www.linkedin.com/in/stefanysato/" target="_blank"><i class="fa-brands fa-linkedin-in" style="color: #838383;"></i></a>
    <a href="https://github.com/stefanysato" target="_blank"><i class="fa-brands fa-github" style="color: #838383;"></i></a>
    <a href="" target="_blank"><i class="fa-brands fa-instagram fa-lg" style="color: #838383;"></i></a>
    <a href="mailto:stefanysato@gmail.com"><i class="fa-regular fa-envelope fa-lg" style="color: #838383"></i></a>
  </div>
</div>